@font-face {
  font-family: "Manoyri-Regular";
  font-style: normal;
  src: local("Manoyri-Regular"), url(./fonts/Manoyri-Regular.otf) format("opentype");
}

@font-face {
  font-family: "againts";
  font-style: normal;
  src: local("againts"), url(./fonts/againts.otf) format("opentype");
}

@font-face {
  font-family: "Vontens";
  font-style: normal;
  src: local("Vontens"), url(./fonts/Vontens.otf) format("opentype");
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  display: grid;
  padding-bottom: 4rem;
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("./imgs/topography.svg"), linear-gradient(110deg, #f93df6, #1d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}

code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  font-variant: normal;
  color: #fff;
}

pre {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: url("./imgs/second-batch/sahil.jpg");
  background-size: cover;
  // padding: 16rem 0rem 32rem 0rem;
  // background-position: 0px -20rem;
  padding: 13rem 0rem 36rem 0rem;
  background-position: 0px 0rem;
  .banner-text-container {
    .banner-text {
      font-family: Vontens, "Manoyri-Regular", "Roboto", "sans-serif";
      font-weight: 500;
      text-align: center;
      font-size: 11rem;
      color: white;
      margin: 0rem;
    }
    .banner-text--larger {
      font-size: 15rem;
      margin-top: -7rem;
      letter-spacing: 0.6rem;
    }
  }
}

.dashbord__question-type {
  margin-bottom: 4rem;
}

.hidden {
  display: none;
}
