html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  padding: 0em 2rem;
  background: #eaeaea;
  display: grid;
  padding-bottom: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  font-variant: normal;
  color: gray;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-variant: normal;
}

.dashbord__question-type {
  margin-bottom: 4rem;
}

.hidden {
  display: none;
}