.cards-container {
  display: grid;
  &.cards-container--questions {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 4rem;
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2rem;
    }
    h3 {
      margin-top: 0rem;
      margin-bottom: 0rem;
      margin: 0rem;
    }
  }
  &.cards-container--form {
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.card {
  background: #fefefe;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  button {
    cursor: pointer;
  }
  &.card--full-width {
    grid-column: 1/4;
  }
  .card__answer-wrapper {
    margin-bottom: 4rem;
  }

  .card__question {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: inline-block;
  }
}

.card--form {
  margin-top: 2rem;
  .form__inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-gap: 2rem;
    align-items: center;
    grid-auto-rows: minmax(3rem, auto);
  }
  label {
    margin-right: 1rem;
  }
  input {
    height: 100%;
    padding-left: 1rem;
    // border-radius: 1rem;
    background-color: inherit;
    border-left: none;
    border-top: none;
    border-bottom: .2rem solid #ddd;
    border-right: none;
    font-size: 1.5rem;
  }
}
