html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  padding: 0em 2rem;
}

code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal;
  font-variant: normal;
  color: gray;
}

.dashbord__question-type {
  margin-bottom: 4rem;
}